/* Block advantages */
.advantages {
  padding-top: 7px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special_grey-3;
  }
}

// element title
.advantages__title {
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: $basic_black;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
  }
}

// element item
.advantages__item {
  display: block;
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: $basic_green;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      top: 42px;
    }
  }

  &::after {
    display: none;
    position: absolute;
    z-index: -1;

    @media (min-width: $tablet-width) {
      display: block;
      font-family: $oswald;
      font-size: 280px;
      line-height: 280px;
      font-weight: normal;
      color: $basic_grey;
      top: 0;
      left: 126px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 160px;
    padding-bottom: 60px;
    width: 245px;
    height: 280px;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
  }
}

.advantages__item--nutrients {
  &::before {
    background-image: url("../img/icon-nutrients.svg");
    background-position: center;
  }

  &::after {
    content: "1";
  }
}

.advantages__item--consistence {
  &::before {
    background-image: url("../img/icon-consistence.svg");
    background-position: center;
  }

  &::after {
    content: "2";
  }
}

.advantages__item--substitute {
  &::before {
    background-image: url("../img/icon-substitute.svg");
    background-position: center;
  }

  &::after {
    content: "3";
  }
}

.advantages__item--period {
  &::before {
    background-image: url("../img/icon-period.svg");
    background-position: center;
  }

  &::after {
    content: "4";
  }
}
