/* Colors */
/* Viewports */
/* Fonts */
/* Fonts */
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Oswald Regular"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Oswald Medium"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff"); }

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%; }

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.hidden {
  display: none; }

/* Block wrapper */
.wrapper {
  display: block;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  min-width: 320px; }
  @media (min-width: 768px) {
    .wrapper {
      padding-left: 30px;
      padding-right: 30px;
      width: 100%; } }
  @media (min-width: 1440px) {
    .wrapper {
      padding-left: 110px;
      padding-right: 110px; } }

/* Block list-reset */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Block logo */
.logo {
  display: inline-block;
  width: auto;
  cursor: pointer;
  border-bottom: 1px solid #d9d9d9; }
  .logo:hover {
    opacity: 0.8; }
  .logo:active {
    opacity: 0.6; }

/* Block button */
.button {
  display: block;
  width: 280px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  border: none; }
  .button:hover {
    background-color: #5eaa2f; }
  .button:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3); }
  .button--load {
    background-color: #f2f2f2;
    color: #444444; }
    .button--load:hover {
      background-color: #ebebeb; }
    .button--load:active {
      background-color: #ebebeb;
      color: rgba(68, 68, 68, 0.3); }

/* Block slider */
.slider {
  text-align: center; }
  @media (min-width: 768px) {
    .slider {
      padding: 0;
      overflow: hidden; } }
  @media (min-width: 1440px) {
    .slider {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%; } }

.slider__list {
  padding: 0;
  margin: auto;
  margin-bottom: 26px;
  position: relative;
  display: table;
  width: 280px;
  height: 240px; }
  @media (min-width: 768px) {
    .slider__list {
      margin: 0;
      height: 634px;
      width: 100%; } }
  @media (min-width: 1440px) {
    .slider__list {
      height: 100%;
      margin-bottom: 0; } }

.slider-item {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center; }
  @media (min-width: 768px) {
    .slider-item {
      height: 100%;
      background-color: transparent; } }
  .slider-item--after {
    display: none;
    z-index: 5; }
    @media (min-width: 768px) {
      .slider-item--after {
        overflow: hidden;
        display: block;
        margin: 0 0;
        width: 50%; } }
  .slider-item--before {
    z-index: 10; }
    @media (min-width: 768px) {
      .slider-item--before {
        overflow: hidden;
        display: block;
        margin: 0 50%; } }

.slider-item__picture {
  height: 240px; }
  @media (min-width: 768px) {
    .slider-item__picture {
      height: 520px;
      -o-object-fit: none;
         object-fit: none;
      width: 100%; } }

@media (min-width: 768px) {
  .slider-item--after .slider-item__picture {
    margin: 0 0 0 -50%; } }

@media (min-width: 768px) {
  .slider-item--before .slider-item__picture {
    margin: 0 0 0 50%; } }

.slider-toggle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; }
  @media (min-width: 768px) {
    .slider-toggle {
      position: absolute;
      bottom: 70px;
      left: 0;
      width: 100%; } }
  @media (min-width: 1440px) {
    .slider-toggle {
      top: 486px;
      bottom: auto; } }

.slider-toggle__scale {
  position: relative;
  display: none;
  width: 402px;
  height: 6px;
  margin: 6px 35px;
  z-index: 1;
  flex-shrink: 0; }
  @media (min-width: 768px) {
    .slider-toggle__scale {
      display: block; } }
  .slider-toggle__scale::before {
    position: absolute;
    top: 0;
    right: -13px;
    bottom: 0;
    left: -13px;
    background-color: #dcdcdc;
    border-radius: 2px; }
    @media (min-width: 768px) {
      .slider-toggle__scale::before {
        content: ""; } }

.slider-toggle__group {
  display: none; }
  @media (min-width: 768px) {
    .slider-toggle__group {
      display: block; } }

.slider-toggle__input {
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 1;
  width: 394px;
  height: 34px;
  margin: 0;
  opacity: 0;
  cursor: pointer; }

.slider-toggle__button {
  position: absolute;
  top: -1px;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  margin: -13px 0 0 -13px;
  background-color: #68b738;
  border: 13px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  z-index: 10; }
  @media (min-width: 768px) {
    .slider-toggle__button {
      content: ""; } }
  .slider-toggle__button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19); }
  .slider-toggle__button:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); }

.slider-toggle__label {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  max-width: 50%;
  cursor: pointer; }
  @media (min-width: 768px) {
    .slider-toggle__label {
      font-size: 20px;
      line-height: 30px;
      border-bottom: 1px dotted #c4c4c4;
      padding: 0 0 4px;
      max-width: 150px; } }
  .slider-toggle__label::before {
    content: "";
    position: absolute;
    top: 3px;
    width: 41px;
    height: 12px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    cursor: pointer; }
    @media (min-width: 768px) {
      .slider-toggle__label::before {
        content: none; } }
  .slider-toggle__label::after {
    position: absolute;
    top: 7px;
    width: 35px;
    height: 6px;
    background-color: #68b738;
    border-radius: 5px; }
  .slider-toggle__label--before {
    padding-right: 60px; }
    @media (min-width: 768px) {
      .slider-toggle__label--before {
        padding-right: 0; } }
    .slider-toggle__label--before::before {
      right: 0;
      border-right: none;
      border-radius: 5px 0 0 5px; }
    .slider-toggle__label--before::after {
      content: "";
      right: 0; }
      @media (min-width: 768px) {
        .slider-toggle__label--before::after {
          content: none; } }
  .slider-toggle__label--after {
    padding-left: 60px; }
    @media (min-width: 768px) {
      .slider-toggle__label--after {
        padding-left: 0; } }
    .slider-toggle__label--after::before {
      left: 0;
      border-left: none;
      border-radius: 0 5px 5px 0; }
    .slider-toggle__label--after::after {
      left: 0; }

/* Block form */
.form {
  margin: 0;
  padding: 0; }

@media (min-width: 1440px) {
  .form__specifications {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    justify-content: start;
    padding: 0 110px;
    padding-bottom: 69px; } }

@media (min-width: 1440px) {
  .form__specifications .form__list-wrapper {
    padding: 0; } }

.form__list-wrapper {
  display: block;
  margin: auto;
  padding: 0 20px;
  width: 100%;
  min-width: 320px; }
  @media (min-width: 768px) {
    .form__list-wrapper {
      padding: 0 70px; } }
  @media (min-width: 1440px) {
    .form__list-wrapper {
      padding: 0 110px; } }

.form__fieldset {
  border: none;
  padding: 0; }
  .form__fieldset--cat {
    padding-top: 0;
    padding-bottom: 24px; }
    @media (min-width: 768px) {
      .form__fieldset--cat {
        padding-bottom: 1px; } }
    @media (min-width: 1440px) {
      .form__fieldset--cat {
        padding: 0; } }
  .form__fieldset--programs {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 22px;
    padding-bottom: 19px; }
    @media (min-width: 768px) {
      .form__fieldset--programs {
        border: none;
        padding-top: 71px;
        padding-bottom: 71px;
        padding-left: 70px;
        padding-right: 70px; } }
    @media (min-width: 1440px) {
      .form__fieldset--programs {
        padding: 0; } }
  .form__fieldset--owner {
    padding-top: 26px;
    padding-bottom: 24px; }
    @media (min-width: 768px) {
      .form__fieldset--owner {
        padding-top: 0;
        padding-bottom: 0; } }
  .form__fieldset--comment {
    padding-top: 0;
    padding-bottom: 23px; }
    @media (min-width: 768px) {
      .form__fieldset--comment {
        padding-bottom: 0; } }
  .form__fieldset--others {
    padding-top: 0;
    padding-bottom: 20px; }
    @media (min-width: 768px) {
      .form__fieldset--others {
        padding-bottom: 0; } }

.form__legend {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden; }
  @media (min-width: 768px) {
    .form__legend {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 0; } }
  .form__legend::after {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 2px solid #68b738;
    margin-left: 20px;
    top: 17px; }
    @media (min-width: 768px) {
      .form__legend::after {
        top: 24px; } }
  @media (min-width: 768px) {
    .form__legend::before {
      content: "";
      position: absolute;
      width: 30px;
      border-top: 2px solid #68b738;
      top: 24px; } }
  @media (min-width: 1440px) {
    .form__legend::before {
      width: 70px; } }

.form__legend span {
  margin-left: 20px; }
  @media (min-width: 768px) {
    .form__legend span {
      margin-left: 70px; } }
  @media (min-width: 1440px) {
    .form__legend span {
      margin-left: 110px; } }

.form__fieldset--comment .form__legend {
  margin-bottom: 37px; }
  @media (min-width: 768px) {
    .form__fieldset--comment .form__legend {
      margin-bottom: 0; } }

.form__fieldset--others .form__legend {
  margin-bottom: 34px; }
  @media (min-width: 768px) {
    .form__fieldset--others .form__legend {
      margin-bottom: 0; } }

.form__fieldset--programs .form__list {
  padding: 6px 20px; }
  @media (min-width: 768px) {
    .form__fieldset--programs .form__list {
      border: 1px solid #e7e7e7;
      padding: 25px; } }

@media (min-width: 768px) {
  .form__fieldset--owner .form__list {
    padding-top: 76px;
    padding-bottom: 65px; } }

@media (min-width: 1440px) {
  .form__fieldset--owner .form__list {
    padding-bottom: 69px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 78px;
    justify-content: start; } }

@media (min-width: 768px) {
  .form__fieldset--comment .form__list {
    padding-top: 76px;
    padding-bottom: 65px; } }

@media (min-width: 1440px) {
  .form__fieldset--comment .form__list {
    padding-bottom: 67px; } }

@media (min-width: 768px) {
  .form__fieldset--others .form__list {
    padding-top: 57px;
    padding-bottom: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px; } }

@media (min-width: 1440px) {
  .form__fieldset--others .form__list {
    padding-bottom: 61px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

.form__item {
  margin-bottom: 14px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
  justify-content: start;
  align-items: center;
  position: relative; }
  @media (min-width: 768px) {
    .form__item {
      margin-bottom: 20px; } }
  .form__item:last-child {
    margin-bottom: 0; }

.form__fieldset--comment .form__item {
  grid-template-columns: 1fr; }

.form__fieldset--programs .form__item {
  margin-bottom: 30px; }
  @media (min-width: 1440px) {
    .form__fieldset--programs .form__item {
      margin-bottom: 18px; } }
  .form__fieldset--programs .form__item:last-child {
    margin-bottom: 0; }

@media (min-width: 1440px) {
  .form__fieldset--owner .form__item {
    margin: 0; } }

.form__fieldset--others .form__item {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .form__fieldset--others .form__item {
      margin-bottom: 0; } }
  .form__fieldset--others .form__item:last-child {
    margin-bottom: 0; }

.form__label {
  display: block;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444; }
  @media (min-width: 768px) {
    .form__label {
      font-size: 20px;
      line-height: 30px; } }
  .form__label--black {
    color: #000000; }
  .form__label--darkgrey {
    color: #222222; }
  .form__label--right {
    padding-left: 30px;
    grid-column: 2/3; }

.form__input::-webkit-input-placeholder {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  text-overflow: ellipsis; }
  @media (min-width: 768px) {
    .form__input::-webkit-input-placeholder {
      font-size: 20px;
      line-height: 30px; } }

.form__input::-moz-placeholder {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  text-overflow: ellipsis; }
  @media (min-width: 768px) {
    .form__input::-moz-placeholder {
      font-size: 20px;
      line-height: 30px; } }

.form__input {
  display: block;
  background-repeat: no-repeat;
  background-position: 95%;
  border: 1px solid #e7e7e7;
  padding: 14px 0 14px 15px;
  position: relative; }
  .form__input:hover {
    border-color: #cdcdcd; }
  .form__input:focus {
    border: 2px solid #444444; }
    .form__input:focus + .form__icon-mail {
      stroke: #68b738; }
    .form__input:focus + .form__icon-phone {
      fill: #68b738; }
  .form__input--error {
    border: 2px solid #ff8282; }
    .form__input--error + .form__icon-mail {
      stroke: #ff8282; }
    .form__input--error + .form__icon-phone {
      fill: #ff8282; }

.form__icon-mail {
  position: absolute;
  right: 15px;
  stroke: #000000; }
  @media (min-width: 768px) {
    .form__icon-mail {
      right: 19px; } }

.form__icon-phone {
  position: absolute;
  right: 13px; }
  @media (min-width: 768px) {
    .form__icon-phone {
      right: 17px; } }

.form__options + .form__label::before {
  grid-column: 1/2;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd; }
  @media (min-width: 768px) {
    .form__options + .form__label::before {
      width: 40px;
      height: 40px; } }

.form__options:hover + .form__label::before {
  border-color: #bababa; }

.form__options:disabled + .form__label {
  opacity: 0.3; }
  .form__options:disabled + .form__label::before {
    opacity: 0.3; }
  .form__options:disabled + .form__label::after {
    opacity: 0.3; }

.form__options-radio + .form__label::before {
  border-radius: 50%; }

.form__options-radio:checked + .form__label::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 9px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%; }
  @media (min-width: 768px) {
    .form__options-radio:checked + .form__label::after {
      width: 18px;
      height: 18px;
      left: 11px; } }

.form__options-checkbox:checked + .form__label::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
  width: 18px;
  height: 14px;
  background-image: url("../img/checkmark.svg"); }
  @media (min-width: 768px) {
    .form__options-checkbox:checked + .form__label::after {
      left: 13px; } }

.form__textarea {
  resize: none;
  height: 150px; }
  @media (min-width: 768px) {
    .form__textarea {
      height: 174px; } }

.form__button-wrapper {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .form__button-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: start;
      align-items: center;
      grid-gap: 32px;
      padding-left: 70px;
      padding-right: 70px; } }
  @media (min-width: 1440px) {
    .form__button-wrapper {
      padding-left: 110px;
      padding-right: 110px; } }

.button__form {
  width: 100%;
  margin-bottom: 21px; }
  @media (min-width: 768px) {
    .button__form {
      width: 282px;
      font-size: 20px;
      line-height: 0;
      padding: 24px 0;
      margin: 0; } }
  @media (min-width: 1440px) {
    .button__form {
      width: 92%; } }

.program__note {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  margin: 0; }
  @media (min-width: 768px) {
    .program__note {
      font-size: 16px;
      text-align: left; } }

/* Block banner */
.banner {
  background: url("../img/back-banner-mobile@1x.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  height: 289px; }
  @media (min-width: 768px) {
    .banner {
      height: 200px; } }
  @media (min-width: 1440px) {
    .banner {
      height: auto; } }

.banner__link {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  text-decoration: none; }
  @media (min-width: 768px) {
    .banner__link {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      height: 200px;
      background: url("../img/back-banner-tablet@1x.jpg") no-repeat;
      background-size: cover; } }
  @media (min-width: 1440px) {
    .banner__link {
      display: grid;
      grid-template-columns: 1fr;
      height: auto;
      background: url("../img/back-banner-desktop@1x.jpg") no-repeat;
      background-size: cover; } }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .banner {
    background: url("../img/back-banner-mobile@2x.jpg") no-repeat;
    background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 768px), (min-resolution: 144dpi) and (min-width: 768px), (min-resolution: 1.5dppx) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
    .banner {
      background: url("../img/back-banner-tablet@2x.jpg") no-repeat;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1440px), (min-resolution: 144dpi) and (min-width: 1440px), (min-resolution: 1.5dppx) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px), (min-resolution: 2dppx) and (min-width: 1440px) {
    .banner {
      background: url("../img/back-banner-desktop@2x.jpg") no-repeat;
      background-size: cover; } }

.banner svg {
  margin: auto;
  margin-top: 58px; }
  @media (min-width: 768px) {
    .banner svg {
      margin: 0;
      margin-left: 78px; } }
  @media (min-width: 1440px) {
    .banner svg {
      margin-top: 56px; } }

.banner__promo {
  width: 161px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 10px; }
  @media (min-width: 768px) {
    .banner__promo {
      margin-top: 0;
      margin-left: 68px; } }
  @media (min-width: 1440px) {
    .banner__promo {
      margin: auto;
      margin-top: 0;
      align-self: start; } }

/* Block page-header__top */
.page-header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  position: relative; }
  @media (min-width: 1440px) {
    .page-header--main::before {
      content: "";
      position: absolute;
      right: 0;
      width: 50%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/back-promo-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: end top;
      background-size: cover; } }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .page-header--main::before {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/back-promo-desktop@2x.jpg"); } }

.page-header__top {
  position: relative;
  margin: auto;
  width: 100%;
  min-width: 320px; }
  @media (min-width: 768px) {
    .page-header__top {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
      margin: 0 auto; } }
  @media (min-width: 1440px) {
    .page-header__top {
      padding: 0 110px; } }

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid #e6e6e6;
  padding-right: 65px; }
  @media (min-width: 768px) {
    .page-header__logo {
      height: 100px;
      border-bottom: none; } }
  @media (min-width: 1440px) {
    .page-header__logo {
      height: 141px; } }

/* Block main-nav */
.main-nav {
  width: 100%;
  max-width: 767px; }
  @media (min-width: 768px) {
    .main-nav {
      width: 440px;
      display: flex;
      justify-content: flex-end; } }

.main-nav--closed .main-nav__toggle {
  display: block;
  padding: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .main-nav--closed .main-nav__toggle::after {
    content: "";
    display: block;
    background-color: #000000;
    width: 24px;
    height: 1.5px;
    margin: auto;
    box-shadow: 0 7px 0 #000000, 0 -7px 0 #000000; }
  @media (min-width: 768px) {
    .main-nav--closed .main-nav__toggle {
      display: none; } }

.main-nav--open .main-nav__toggle {
  display: block;
  padding: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25px;
  right: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .main-nav--open .main-nav__toggle::after {
    content: "";
    display: block;
    background-color: #000000;
    width: 24px;
    height: 1.5px;
    margin: auto;
    margin-top: -1px;
    transform: rotate(47deg); }
  .main-nav--open .main-nav__toggle::before {
    content: "";
    display: block;
    background-color: #000000;
    width: 24px;
    height: 1.5px;
    margin: auto;
    transform: rotate(-47deg); }
  @media (min-width: 768px) {
    .main-nav--open .main-nav__toggle {
      display: none; } }

/* Block site-list */
.site-list {
  z-index: 100; }
  @media (min-width: 768px) {
    .site-list {
      display: flex;
      justify-content: space-between;
      width: 440px;
      margin: auto;
      margin-right: 0; } }
  @media (min-width: 1440px) {
    .site-list {
      display: flex;
      justify-content: space-between;
      width: 478px; } }

.site-list__item {
  display: flex;
  width: 100%;
  height: 66px;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer; }
  @media (min-width: 768px) {
    .site-list__item {
      width: auto;
      border-bottom: none; }
      .site-list__item:hover {
        opacity: 0.6; }
      .site-list__item:active {
        opacity: 0.3; }
      .site-list__item--active {
        border-bottom: 2px solid #68b738; } }

@media (min-width: 1440px) {
  .site-list--index .site-list__item--active {
    border-bottom: 2px solid #ffffff; } }

.site-list__link {
  display: inline-block;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: auto; }
  @media (min-width: 768px) {
    .site-list__link {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px; } }
  @media (min-width: 1440px) {
    .site-list__link {
      font-size: 20px;
      line-height: 30px; }
      .site-list__link--main {
        color: #ffffff; } }

/* Block promo */
.promo {
  position: relative;
  color: #ffffff;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  min-height: 480px; }
  @media (min-width: 768px) {
    .promo {
      padding: 0 30px;
      min-height: 830px; } }
  @media (min-width: 1440px) {
    .promo {
      padding: 0 110px;
      display: grid;
      grid-template-columns: auto 1fr;
      padding-left: 80px;
      align-content: start;
      min-height: 550px; } }

.promo__content {
  display: block;
  min-height: 302px;
  text-align: center;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/back-promo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding: 27px 20px;
  margin: auto; }
  @media (min-width: 768px) {
    .promo__content {
      padding: 41px 0;
      background-image: none;
      text-align: left; } }
  @media (min-width: 1440px) {
    .promo__content {
      margin: 0;
      background: none; } }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo__content {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/back-promo-mobile@2x.jpg"); } }
  @media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 768px), (min-resolution: 144dpi) and (min-width: 768px), (min-resolution: 1.5dppx) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
    .promo__content {
      background-image: none; } }

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .promo__title {
      font-size: 60px;
      line-height: 60px;
      color: #000000;
      margin-left: 90px;
      margin-bottom: 41px;
      width: 450px; } }

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 0; }
  @media (min-width: 768px) {
    .promo__slogan {
      font-size: 20px;
      line-height: 20px;
      color: #000000;
      margin-left: 88px;
      margin-bottom: 49px; } }

.promo__image-wrapper {
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 270px; }
  @media (min-width: 768px) {
    .promo__image-wrapper {
      width: 709px;
      height: 609px;
      bottom: 0; } }
  @media (min-width: 1440px) {
    .promo__image-wrapper {
      position: relative;
      width: 550px;
      height: 500px;
      bottom: auto;
      left: auto;
      transform: none; } }

.promo__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  transform: translateX(-50%); }
  @media (min-width: 768px) {
    .promo__button {
      position: relative;
      left: auto;
      z-index: 1;
      width: 244px;
      margin: 0;
      margin-left: 82px;
      padding: 16px;
      font-size: 20px;
      line-height: 20px;
      color: #ffffff;
      transform: none; } }

/* Block program-type */
.program-type {
  padding-top: 20px; }
  @media (min-width: 1440px) {
    .program-type {
      padding-top: 85px;
      display: grid;
      justify-content: center;
      gap: 80px;
      grid-template-columns: repeat(2, 1fr); } }

.program-type__item {
  margin-bottom: 20px; }

/* Block program-card */
.program-card {
  color: #000000;
  font-family: "Arial", "Tahoma", sans-serif;
  background-color: #f2f2f2;
  padding: 30px 20px 22px 20px; }
  @media (min-width: 768px) {
    .program-card {
      padding: 77px 20px 53px 52px; } }
  @media (min-width: 1440px) {
    .program-card {
      width: 570px;
      height: 374px;
      padding: 77px 51px 55px 52px; } }

.program-card__content {
  position: relative;
  padding-bottom: 23px;
  padding-right: 33px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d9d9d9; }
  .program-card__content::before {
    content: "";
    position: absolute; }
  @media (min-width: 768px) {
    .program-card__content {
      border-bottom: none;
      padding-bottom: 48px; }
      .program-card__content--slim {
        padding-right: 279px; }
      .program-card__content--pro {
        padding-right: 344px; } }
  @media (min-width: 1440px) {
    .program-card__content {
      padding-bottom: 23px;
      margin-bottom: 0; }
      .program-card__content--slim {
        padding-right: 0; }
      .program-card__content--pro {
        padding-right: 0; } }
  .program-card__content--slim::before {
    width: 50px;
    height: 53px;
    top: 0;
    left: 0;
    background-image: url("../img/cat-back-1.svg");
    background-repeat: no-repeat;
    background-size: 50px 53px; }
    @media (min-width: 768px) {
      .program-card__content--slim::before {
        width: 200px;
        height: 211px;
        top: 0;
        left: auto;
        right: 42px;
        background-size: 200px 211px; } }
    @media (min-width: 1440px) {
      .program-card__content--slim::before {
        width: 100px;
        height: 106px;
        top: -36px;
        left: auto;
        right: auto;
        background-size: 100px 106px; } }
  .program-card__content--pro::before {
    width: 67px;
    height: 50px;
    top: 0;
    left: 0;
    background-image: url("../img/cat-back-2.svg");
    background-repeat: no-repeat;
    background-size: 67px 50px; }
    @media (min-width: 768px) {
      .program-card__content--pro::before {
        width: 268px;
        height: 200px;
        top: 0;
        left: auto;
        right: 8px;
        background-size: 268px 200px; } }
    @media (min-width: 1440px) {
      .program-card__content--pro::before {
        width: 134px;
        height: 100px;
        top: -30px;
        left: -19px;
        right: auto;
        background-size: 134px 100px; } }

.program-card__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 91px;
  margin: 0;
  margin-bottom: 29px; }
  @media (min-width: 768px) {
    .program-card__title {
      font-size: 36px;
      line-height: 36px;
      padding-left: 1px;
      margin-bottom: 24px; } }
  @media (min-width: 1440px) {
    .program-card__title {
      padding-left: 162px;
      margin-bottom: 73px; } }

.program-card__description {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0; }
  @media (min-width: 768px) {
    .program-card__description {
      font-size: 16px;
      line-height: 24px; } }

.program-card__link {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 150px;
  position: relative; }
  @media (min-width: 768px) {
    .program-card__link {
      font-size: 20px;
      line-height: 30px;
      width: 170px; } }
  .program-card__link::before {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background-color: #000000;
    order: 2;
    margin-left: 25px; }
  .program-card__link::after {
    content: "";
    display: block;
    order: 3;
    border: 5px solid transparent;
    border-left: 5px solid #000000; }

.program-card__link:hover::before {
  width: 26px; }

.program-card__link:active {
  opacity: 0.3; }

/* Block advantages */
.advantages {
  padding-top: 7px;
  padding-bottom: 42px; }
  @media (min-width: 768px) {
    .advantages {
      border-bottom: 1px solid #e6e6e6; } }

.advantages__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: #000000;
  margin-bottom: 38px; }
  @media (min-width: 768px) {
    .advantages__title {
      margin-top: 14px;
      font-size: 60px;
      line-height: 60px; } }

@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    padding-top: 34px;
    gap: 91px 132px;
    grid-template-columns: repeat(2, 250px);
    counter-reset: list; } }

@media (min-width: 1440px) {
  .advantages__list {
    -moz-column-gap: 75px;
         column-gap: 75px;
    grid-template-columns: repeat(4, auto); } }

.advantages__item {
  display: block;
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444; }
  @media (min-width: 768px) {
    .advantages__item {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
      padding-left: 0;
      padding-top: 112px;
      padding-bottom: 42px;
      width: 250px; } }
  .advantages__item:last-child {
    margin-bottom: 0; }
  .advantages__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .advantages__item::before {
        width: 80px;
        height: 80px; } }
  @media (min-width: 768px) {
    .advantages__item::after {
      content: counter(list);
      position: absolute;
      top: 45%;
      left: 118px;
      z-index: -1;
      font-size: 280px;
      font-family: "Oswald", "Arial Narrow", sans-serif;
      color: #f2f2f2;
      transform: translateY(-50%);
      counter-increment: list; } }

.advantages__item--nutrients::before {
  background-image: url("../img/icon-nutrients.svg");
  background-position: center; }

.advantages__item--consistence::before {
  background-image: url("../img/icon-consistence.svg");
  background-position: center; }

.advantages__item--substitute::before {
  background-image: url("../img/icon-substitute.svg");
  background-position: center; }

.advantages__item--period::before {
  background-image: url("../img/icon-period.svg");
  background-position: center; }

/* Block sample */
.sample {
  color: #000000;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  background-color: #eaeaea;
  padding-top: 10px;
  padding-bottom: 36px;
  position: relative; }
  @media (min-width: 768px) {
    .sample {
      padding: 42px 0 0;
      background: linear-gradient(180deg, white 57%, #eaeaea 43%); } }
  @media (min-width: 1440px) {
    .sample {
      background: linear-gradient(180deg, white 32%, #eaeaea 32%);
      padding-bottom: 72px; } }

@media (min-width: 1440px) {
  .sample .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto); } }

.sample__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 33px; }
  @media (min-width: 768px) {
    .sample__title {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 64px; } }
  @media (min-width: 1440px) {
    .sample__title {
      grid-column: 1/2;
      margin-bottom: 76px;
      padding-top: 40px; } }

.sample__description {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .sample__description {
      font-size: 16px;
      line-height: 24px;
      margin-top: 0;
      margin-bottom: 56px;
      padding-right: 20px; } }
  @media (min-width: 1440px) {
    .sample__description {
      grid-column: 1/2;
      margin-bottom: 70px; } }

.sample__params-cat {
  margin-bottom: 32px; }
  @media (min-width: 768px) {
    .sample__params-cat {
      margin-bottom: 80px; } }
  @media (min-width: 1440px) {
    .sample__params-cat {
      grid-column: 1/2;
      margin-bottom: 0; } }

.sample__price {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 34px;
  margin-bottom: 42px; }
  @media (min-width: 768px) {
    .sample__price {
      font-size: 20px;
      width: 190px;
      text-align: right;
      margin: 0;
      margin-top: 10px; } }
  @media (min-width: 1440px) {
    .sample__price {
      margin: 0;
      display: block;
      width: 100%;
      text-align: left; } }

@media (min-width: 768px) {
  .sample__price span {
    margin-top: 10px; } }

@media (min-width: 1440px) {
  .sample__price span {
    margin-left: 63px; } }

@media (min-width: 1440px) {
  .sample__slider {
    grid-column: 2/3;
    grid-row: 1/4; } }

/* Block params-cat */
.params-cat {
  color: #000000;
  font-family: "Oswald", "Arial Narrow", sans-serif; }
  @media (min-width: 768px) {
    .params-cat {
      display: flex;
      justify-content: space-between; } }
  @media (min-width: 1440px) {
    .params-cat {
      display: block; } }

.params-cat__list {
  display: flex;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .params-cat__list {
      width: 366px; } }
  @media (min-width: 1440px) {
    .params-cat__list {
      margin-bottom: 60px; } }

.params-cat__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px; }
  @media (min-width: 768px) {
    .params-cat__container {
      width: 162px;
      height: 72px; } }

.params-cat__termin {
  font-size: 24px;
  line-height: 24px;
  text-align: center; }
  @media (min-width: 768px) {
    .params-cat__termin {
      font-size: 30px;
      line-height: 37px; } }

.params-cat__description {
  color: #444444;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  width: 80px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -15px;
  background: #eaeaea; }
  @media (min-width: 768px) {
    .params-cat__description {
      background: #ffffff;
      font-size: 14px;
      line-height: 14px;
      bottom: -5px;
      width: 140px; } }
  @media (min-width: 1440px) {
    .params-cat__description {
      background: #eaeaea; } }

/* Block program */
.program {
  padding-top: 27px;
  padding-bottom: 39px; }
  @media (min-width: 768px) {
    .program {
      padding-top: 65px;
      border-top: none; } }
  @media (min-width: 1440px) {
    .program {
      padding-top: 0;
      padding-bottom: 82px; } }

@media (min-width: 768px) {
  .program__wrapper {
    padding: 0 70px; } }

@media (min-width: 1440px) {
  .program__wrapper {
    padding: 0 110px; } }

.program__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #000000;
  margin: 0;
  margin-bottom: 37px; }
  @media (min-width: 768px) {
    .program__title {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 54px; } }
  @media (min-width: 1440px) {
    .program__title {
      margin-bottom: 56px; } }

.program__annotation {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  max-width: 230px;
  margin: 0;
  margin-bottom: 39px; }
  @media (min-width: 768px) {
    .program__annotation {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 66px;
      max-width: 330px; } }

/* Block catalog */
.catalog {
  padding-top: 27px;
  padding-bottom: 35px; }
  @media (min-width: 768px) {
    .catalog {
      border-top: none;
      padding-top: 0;
      padding-bottom: 0; } }

@media (min-width: 768px) {
  .catalog__main {
    padding-left: 30px;
    padding-right: 30px; } }

@media (min-width: 1440px) {
  .catalog__main {
    padding-left: 110px;
    padding-right: 110px; } }

.catalog__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #000000;
  margin: 0 0 41px 0; }
  @media (min-width: 768px) {
    .catalog__title {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 84px; } }
  .catalog__title--medium {
    font-size: 24px;
    line-height: 24px;
    position: relative;
    overflow: hidden; }
    @media (min-width: 768px) {
      .catalog__title--medium {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 80px; } }
    .catalog__title--medium::after {
      content: "";
      position: absolute;
      width: 100%;
      border-top: 2px solid #68b738;
      margin-left: 20px;
      top: 17px; }
      @media (min-width: 768px) {
        .catalog__title--medium::after {
          top: 24px; } }
    @media (min-width: 768px) {
      .catalog__title--medium::before {
        content: "";
        position: absolute;
        width: 30px;
        border-top: 2px solid #68b738;
        top: 24px; } }
    @media (min-width: 1440px) {
      .catalog__title--medium::before {
        width: 70px; } }

.catalog__title--medium span {
  margin-left: 20px; }
  @media (min-width: 768px) {
    .catalog__title--medium span {
      margin-left: 67px; } }
  @media (min-width: 1440px) {
    .catalog__title--medium span {
      margin-left: 110px; } }

@media (min-width: 1440px) {
  .catalog__other-wrapper {
    display: grid;
    grid-template-columns: 1fr 245px;
    grid-gap: 79px; } }

@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 59px; } }

@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 63px;
    grid-column-gap: 80px; } }

.catalog__list--other {
  padding-bottom: 39px;
  display: block; }
  @media (min-width: 768px) {
    .catalog__list--other {
      padding-bottom: 0;
      margin-bottom: 69px;
      border-left: 1px solid #cdcdcd;
      border-right: 1px solid #cdcdcd; } }
  @media (min-width: 1440px) {
    .catalog__list--other {
      border: none;
      margin-bottom: 0; } }

.catalog__item {
  border-top: 1px solid #e6e6e6;
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .catalog__item {
      width: 100%;
      padding: 8px 36px 40px 36px;
      margin-bottom: 0;
      background: linear-gradient(180deg, white 19%, #f2f2f2 19%);
      border: none; }
      .catalog__item--right {
        align-self: end; } }
  @media (min-width: 1440px) {
    .catalog__item {
      min-width: 245px; } }
  .catalog__item--load {
    padding: 25px 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e6e6e6; }
    @media (min-width: 768px) {
      .catalog__item--load {
        background: none;
        padding: 52px 37px 38px 38px;
        border: 1px solid #e6e6e6; } }
  .catalog__item--other {
    padding-top: 13px;
    padding-bottom: 19px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: start;
    border-top: 1px solid #e6e6e6; }
    .catalog__item--other:last-child {
      border-bottom: 1px solid #e6e6e6; }
    @media (min-width: 768px) {
      .catalog__item--other {
        width: 100%;
        grid-template-columns: 1fr auto 92px;
        grid-row-gap: 23px;
        padding: 26px 38px 28px;
        background: none; } }
    @media (min-width: 1440px) {
      .catalog__item--other {
        grid-template-columns: 40% 1fr 80px 30%;
        justify-content: start;
        align-items: center;
        padding: 15px 0 17px; } }

@media (min-width: 768px) {
  .catalog__item .wrapper {
    padding: 0;
    min-width: 0; } }

.catalog__card-content {
  padding-top: 19px;
  margin-bottom: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 59px auto;
  align-items: center; }
  @media (min-width: 768px) {
    .catalog__card-content {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      justify-content: center;
      margin-bottom: 33px; } }
  @media (min-width: 1440px) {
    .catalog__card-content {
      grid-template-columns: 1fr; } }

.catalog__item--load .catalog__card-content {
  margin: 0;
  padding: 0;
  display: block; }

.catalog__card-title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: #222222;
  margin-top: 0;
  width: 52%; }
  @media (min-width: 768px) {
    .catalog__card-title {
      grid-row: 2/3;
      text-align: center;
      width: 100%;
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 24px;
      justify-self: center; } }
  @media (min-width: 1440px) {
    .catalog__card-title {
      line-height: 21px; } }
  .catalog__card-title--main-good {
    line-height: 20px; }
    @media (min-width: 768px) {
      .catalog__card-title--main-good {
        width: 150px; } }
  .catalog__card-title--other-good {
    line-height: 16px;
    grid-column: 1/3;
    margin-bottom: 13px; }
    @media (min-width: 768px) {
      .catalog__card-title--other-good {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: left;
        margin: 0; } }

.catalog__specifications {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: start;
  margin: 0; }
  @media (min-width: 768px) {
    .catalog__specifications {
      grid-row: 3/4; } }

.catalog__img-wrapper {
  justify-self: center;
  grid-column: 1/2;
  grid-row: 1/3; }
  @media (min-width: 768px) {
    .catalog__img-wrapper {
      grid-row: 1/2; } }

.catalog__good-image {
  width: 84px; }
  .catalog__good-image--big {
    width: 84px; }
  .catalog__good-image--little {
    width: 68px; }
  @media (min-width: 768px) {
    .catalog__good-image--big {
      width: 168px; }
    .catalog__good-image--little {
      width: 161px; } }
  @media (min-width: 1440px) {
    .catalog__good-image--big {
      width: 172px; } }

.catalog__item:nth-child(7) .catalog__good-image {
  width: 72px; }
  @media (min-width: 768px) {
    .catalog__item:nth-child(7) .catalog__good-image {
      grid-row: 1/2;
      width: 161px; } }
  @media (min-width: 1440px) {
    .catalog__item:nth-child(7) .catalog__good-image {
      width: 172px; } }

.catalog__main-param {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444; }
  @media (min-width: 768px) {
    .catalog__main-param {
      border-bottom: 1px solid #cdcdcd;
      font-size: 16px;
      padding-top: 7px;
      padding-bottom: 9px; } }
  .catalog__main-param--right {
    text-align: right;
    margin: 0; }

.catalog__other-param {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  padding: 0;
  margin: 0;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .catalog__other-param {
      font-size: 16px;
      line-height: 20px;
      align-self: center;
      margin-bottom: 0; } }
  @media (min-width: 768px) {
    .catalog__other-param--left {
      grid-column: 2/3; } }
  .catalog__other-param--right {
    text-align: right; }
    @media (min-width: 768px) {
      .catalog__other-param--right {
        grid-column: 3/4; } }
    @media (min-width: 1440px) {
      .catalog__other-param--right {
        text-align: left; } }

.catalog__load {
  display: block;
  width: 100%;
  height: 30px;
  position: relative;
  margin-bottom: 23px; }
  @media (min-width: 768px) {
    .catalog__load {
      margin-bottom: 0; } }
  .catalog__load::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: #d3d3d3;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
    @media (min-width: 768px) {
      .catalog__load::before {
        height: 60px; } }
  .catalog__load::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    top: 14px;
    left: 50%;
    transform: translateX(-50%); }
    @media (min-width: 768px) {
      .catalog__load::after {
        width: 60px;
        top: 28px; } }

.catalog__load-label {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-top: 0;
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    .catalog__load-label {
      margin-top: 79px;
      margin-bottom: 23px;
      font-size: 20px;
      line-height: 22px; } }

.catalog__load-annotation {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin-top: 0;
  margin-bottom: 21px; }
  @media (min-width: 768px) {
    .catalog__load-annotation {
      margin-bottom: 87px;
      font-size: 16px;
      line-height: 18px; } }

.button--load {
  margin-bottom: 0; }

.catalog__other {
  padding-top: 25px;
  margin-bottom: 0; }
  @media (min-width: 768px) {
    .catalog__other {
      padding-top: 68px;
      padding-bottom: 76px; } }
  @media (min-width: 1440px) {
    .catalog__other {
      padding-top: 76px; } }

@media (min-width: 768px) {
  .catalog__main .button {
    width: 100%; } }

.catalog__other .button {
  margin-bottom: 0;
  grid-column: 1/-1; }
  @media (min-width: 768px) {
    .catalog__other .button {
      grid-column: 1/-1;
      width: 100%;
      font-size: 16px;
      line-height: 0;
      padding: 19px 0; } }
  @media (min-width: 1440px) {
    .catalog__other .button {
      grid-column: 4/-1; } }

.catalog__banner {
  text-align: center; }

.button__catalog {
  width: 100%; }

/* Block page-footer */
.page-footer__top {
  position: relative; }

@media (min-width: 1440px) {
  .page-footer__contacts {
    padding: 0 110px; } }

.page-footer__map {
  margin: 0; }

.page-footer__bottom {
  background-color: #f2f2f2;
  display: block;
  text-align: center; }

@media (min-width: 768px) {
  .page-footer__bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center; } }

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 32px; }

.page-footer__social {
  padding-top: 20px;
  padding-bottom: 21px; }

.page-footer__copyright {
  padding: 22px 0; }

.copyright-link .page-footer__logo-academy {
  fill: #444444; }

.copyright-link:hover .page-footer__logo-academy {
  fill: #68b738; }

/* Block contacts */
.contacts--theme_grey {
  background-color: #f2f2f2; }

.contacts__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  align-items: center;
  height: 114px;
  z-index: 100; }
  @media (min-width: 768px) {
    .contacts__description {
      display: flex;
      justify-content: space-between; } }
  @media (min-width: 1440px) {
    .contacts__description {
      display: flex;
      justify-content: space-around;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      margin-left: 110px;
      width: 570px;
      height: 201px;
      background: #ffffff; } }

.contacts__lead {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
  max-width: 80%; }
  @media (min-width: 768px) {
    .contacts__lead {
      font-size: 20px;
      line-height: 22px;
      max-width: 175px; } }

.contacts__address {
  font-family: "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444; }
  @media (min-width: 768px) {
    .contacts__address {
      display: block;
      font-size: 16px;
      line-height: 20px;
      width: 160px;
      text-align: right; } }

.contacts__address span {
  display: block; }
  @media (min-width: 768px) {
    .contacts__address span {
      margin-top: 23px; } }

/* Block map */
.map {
  position: relative; }

.map__content {
  display: block;
  height: 362px;
  min-width: 320px;
  width: 100%;
  margin: auto; }
  @media (min-width: 768px) {
    .map__content {
      height: 400px; } }

.map__pin {
  position: absolute;
  width: 57px;
  height: 53px;
  top: 40%;
  left: 50%;
  transform: translateX(-50%); }
  @media (min-width: 768px) {
    .map__pin {
      width: 113px;
      height: 106px;
      top: 35%; } }
  @media (min-width: 1440px) {
    .map__pin {
      left: 75%; } }

/* Block social */
.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .social {
      border: none;
      justify-content: space-between;
      width: 129px; } }

.social__item {
  margin-left: 36px; }
  .social__item:first-child {
    margin-left: 0; }

.social__link {
  fill: #666666; }

.social__link--fb {
  fill: none;
  stroke: #666666; }

.social__link:hover .social__icon {
  stroke: none;
  fill: #68b738; }

.social__link--fb:hover .social__icon {
  fill: none;
  stroke: #68b738; }

.social__link:active {
  opacity: 0.3; }

/* Block copyright */
.copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none; }
  @media (min-width: 768px) {
    .copyright-link {
      width: 163px; } }
  .copyright-link:active {
    opacity: 0.3; }

.copyright-link__site {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444; }

/*# sourceMappingURL=style.css.map */
