/* Block advantages */
.advantages {
  padding-top: 7px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special_grey-3;
  }
}

// element title
.advantages__title {
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: $basic_black;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  @media (min-width: $tablet-width) {
    display: grid;
    padding-top: 34px;
    gap: 91px 132px;
    grid-template-columns: repeat(2, 250px);
    counter-reset: list;
  }

  @media (min-width: $desktop-width) {
    column-gap: 75px;
    grid-template-columns: repeat(4, auto);
  }
}

// element item
.advantages__item {
  display: block;
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 112px;
    padding-bottom: 42px;
    width: 250px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: $basic_green;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: counter(list);
      position: absolute;
      top: 45%;
      left: 118px;
      z-index: -1;
      font-size: 280px;
      font-family: $oswald;
      color: #f2f2f2;
      transform: translateY(-50%);
      counter-increment: list;
    }
  }
}

.advantages__item--nutrients {
  &::before {
    background-image: url("../img/icon-nutrients.svg");
    background-position: center;
  }
}

.advantages__item--consistence {
  &::before {
    background-image: url("../img/icon-consistence.svg");
    background-position: center;
  }
}

.advantages__item--substitute {
  &::before {
    background-image: url("../img/icon-substitute.svg");
    background-position: center;
  }
}

.advantages__item--period {
  &::before {
    background-image: url("../img/icon-period.svg");
    background-position: center;
  }
}
