/* Block banner */
.banner {
  background: url("../img/back-banner-mobile@1x.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  height: 289px;
  display: grid;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 200px;
    background: url("../img/back-banner-tablet@1x.jpg") no-repeat;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    background: url("../img/back-banner-desktop@1x.jpg") no-repeat;
    background-size: cover;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx), (min-resolution: 2dppx) {
  .banner {
    background: url("../img/back-banner-mobile@2x.jpg") no-repeat;
    background-size: cover;

    @media (min-width: $tablet-width) {
      background: url("../img/back-banner-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }

    @media (min-width: $desktop-width) {
      background: url("../img/back-banner-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }
  }
}

.banner svg {
  margin: auto;
  margin-top: 58px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 78px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
  }
}

.banner__promo {
  width: 161px;
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $basic_white;
  margin: 0;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 69px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    margin-top: 0;
    align-self: start;
  }
}
