/* Block contacts */
// modificator theme_grey
.contacts--theme_grey {
  background-color: $basic_grey;
}

.contacts__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  align-items: center;
  height: 114px;
  z-index: 100;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-left: 110px;
    width: 570px;
    height: 201px;
    background: $basic_white;
  }
}

// element lead
.contacts__lead {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey-3;
  text-transform: uppercase;
  max-width: 80%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    max-width: 175px;
  }
}

// element address
.contacts__address {
  font-family: $arial;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: right;
  }
}

.contacts__address span {
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
  }
}
