/* Block copyright */
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 163px;
  }

  &:active {
    opacity: 0.3;
  }
}

// element site
.copyright__site {
  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}

.copyright:hover path {
  fill: $basic_green;
}
