/* Block page-header__top */
.page-header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  position: relative;

  &--main {
    &::before {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop.jpg");
        background-repeat: no-repeat;
        background-position: end top;
        background-size: cover;
      }
    }
  }
}

// elment top
.page-header__top {
  position: relative;
  margin: auto;
  width: 100%;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid $special_grey-3;
  padding-right: 65px;

  @media (min-width: $tablet-width) {
    height: 100px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    height: 141px;
  }
}
