/* Block page-footer */
.page-footer__top {
  position: relative;
}

.page-footer__contacts {
  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

// element map
.page-footer__map {
  margin: 0;
}

// element bottom
.page-footer__bottom {
  background-color: $basic_grey;
  display: block;
  text-align: center;
}

.page-footer__bottom-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// element logo
.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 32px;
}

// element social
.page-footer__social {
  padding-top: 20px;
  padding-bottom: 21px;
}

// element copyright
.page-footer__copyright {
  padding: 22px 0;
}

.copyright-link .page-footer__logo-academy {
  fill: $special_dark-grey;
}

.copyright-link:hover .page-footer__logo-academy {
  fill: $basic_green;
}
