/* Block program-card */
.program-card {
  color: $basic_black;
  font-family: $arial;
  background-color: $basic_grey;
  padding: 30px 20px 22px 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 20px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 374px;
    padding: 77px 51px 55px 52px;
  }
}

// element content
.program-card__content {
  position: relative;
  padding-bottom: 23px;
  padding-right: 33px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;

  &::before {
    content: "";
    position: absolute;
  }

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-bottom: 48px;

    &--slim {
      padding-right: 279px;
    }

    &--pro {
      padding-right: 344px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 23px;
    margin-bottom: 0;

    &--slim {
      padding-right: 0;
    }

    &--pro {
      padding-right: 0;
    }
  }

  // mod slim
  &--slim::before {
    width: 50px;
    height: 53px;
    top: 0;
    left: 0;
    background-image: url("../img/cat-back-1.svg");
    background-repeat: no-repeat;
    background-size: 50px 53px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 211px;
      top: 0;
      left: auto;
      right: 42px;
      background-size: 200px 211px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 106px;
      top: -36px;
      left: auto;
      right: auto;
      background-size: 100px 106px;
    }
  }

  // mod pro
  &--pro::before {
    width: 67px;
    height: 50px;
    top: 0;
    left: 0;
    background-image: url("../img/cat-back-2.svg");
    background-repeat: no-repeat;
    background-size: 67px 50px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 200px;
      top: 0;
      left: auto;
      right: 8px;
      background-size: 268px 200px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 100px;
      top: -30px;
      left: -19px;
      right: auto;
      background-size: 134px 100px;
    }
  }
}

// element title
.program-card__title {
  font-family: $oswald;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 91px;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 1px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

//element description
.program-card__description {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

// element link
.program-card__link {
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  color: $basic_black;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 150px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 170px;
  }

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background-color: $basic_black;
    order: 2;
    margin-left: 25px;
  }

  &::after {
    content: "";
    display: block;
    order: 3;
    border: 5px solid transparent;
    border-left: 5px solid $basic_black;
  }
}

.program-card__link:hover {
  &::before {
    width: 26px;
  }
}

.program-card__link:active {
  opacity: 0.3;
}
