/* Block program-type */
.program-type {
  padding-top: 20px;

  @media (min-width: $desktop-width) {
    padding-top: 85px;
    display: grid;
    justify-content: center;
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

// element item
.program-type__item {
  margin-bottom: 20px;
}
