/* Block promo */
.promo {
  position: relative;
  color: $basic-white;
  font-family: $oswald;
  min-height: 480px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    min-height: 830px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 80px;
    align-content: start;
    min-height: 550px;
  }
}

// element content
.promo__content {
  display: block;
  min-height: 302px;
  text-align: center;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/back-promo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding: 27px 20px;
  margin: auto;


  @media (min-width: $tablet-width) {
    padding: 41px 0;
    background-image: none;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    background: none;
  }
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx),
  (min-resolution: 2dppx) {
  .promo__content {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/back-promo-mobile@2x.jpg");

    @media (min-width: $tablet-width) {
      background-image: none;
    }
  }
}

// element title
.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $basic_black;
    margin-left: 90px;
    margin-bottom: 41px;
    width: 450px;
  }
}

// element slogan
.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $basic_black;
    margin-left: 88px;
    margin-bottom: 49px;
  }
}

.promo__image-wrapper {
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 550px;
    height: 500px;
    bottom: auto;
    left: auto;
    transform: none;
  }
}

.promo__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    position: relative;
    left: auto;
    z-index: 1;
    width: 244px;
    margin: 0;
    margin-left: 82px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
    color: $basic_white;
    transform: none;
  }
}
