/* Block social */
.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    border: none;
    justify-content: space-between;
    width: 129px;
  }
}

.social__item {
  margin-left: 36px;

  &:first-child {
    margin-left: 0;
  }
}

.social__link {
  fill: $special_grey-2;
}

.social__link--fb {
  fill: none;
  stroke: $special_grey-2;
}

.social__link:hover .social__icon {
  stroke: none;
  fill: $basic_green;
}

.social__link--fb:hover .social__icon {
  fill: none;
  stroke: $basic_green;
}

.social__link:active {
  opacity: 0.3;
}
