/* Block form */
// element fieldset
.form__fieldset {
  border: none;
  padding: 0;

  &--cat {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
  }

  &--programs {
    border-bottom: 1px solid #d9d9d9;
    padding-top: 22px;
    padding-bottom: 19px;
  }

  &--owner {
    padding-top: 24px;
    padding-bottom: 10px;
  }

  &--comment {
    padding-top: 0;
    padding-bottom: 23px;
  }

  &--others {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

// element fieldset-wrapper
.form__fieldset-wrapper {
  display: block;
  margin: auto;
  padding: 0 20px;
  width: 100%;
  min-width: 320px;
  max-width: 767px;
}

// element legend
.form__legend {
  font-family: $oswald;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  color: $basic_black;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.form__fieldset--comment .form__legend {
  margin-bottom: 37px;
}

.form__fieldset--others .form__legend {
  margin-bottom: 34px;
}

// element item
.form__item {
  margin-bottom: 14px;
}

// element label
.form__label {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;

  &--black {
    color: $basic_black;
  }

  &--darkgrey {
    color: $special_dark-grey-2;
  }
}

// element input
.form__input::-webkit-input-placeholder {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  text-overflow: ellipsis;
}

.form__input::-moz-placeholder {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  text-overflow: ellipsis;
}

.form__input {
  background-repeat: no-repeat;
  background-position: 95%;

  &-email {
    background-image: url("../img/icon-email.svg");
  }

  &-phone {
    background-image: url("../img/icon-phone.svg");
  }
}

.form .button {
  width: 100%;
}

// element note
.program__note {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $basic_black;
}
