/* Block slider */

.slider {
  text-align: center;

  @media (min-width: $tablet-width) {
    background-color: $basic_grey-2;
  }
}

// elemtnt list
.slider__list {
  margin-bottom: 23px;
}

.slider-item__picture {
  @media (min-width: $tablet-width) {
    height: 520px;
    object-fit: cover;
  }
}

// block toggle
.slider-toggle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

// element control
.slider-toggle__control {
  width: 84px;
  height: 14px;
  border: 1px solid $special_grey;
  border-radius: 6px;
  background-color: $basic_white;
  margin-left: 12px;
  margin-right: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
  }
}

// element label-before
.slider-toggle__label {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: $basic_black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

// element checking
.slider-toggle__button {
  background-color: $basic_green;
  width: 35px;
  height: 6px;
  border-radius: 6px;
}
